.about_content {
  width: 100%;
  text-align: center;
}

.about_content a {
  display: flex; /* Makes <a> a block-level element */
  flex-direction: column;
  text-decoration: none; /* Removes default link styling */
  color: inherit; /* Inherit the text color from parent element */
  width: 100%;
}
.about_content .about-content-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about_content .about-content-container > h3 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow:
  -1px -1px 0 black,  
  1px -1px 0 black,
  -1px  1px 0 black,
  1px  1px 0 black; /* Creates a solid border effect */
}

.about_content .about-content-container > img {
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.about_content a:hover img {
  transform: scale(1.2);
}

.about_content p {
  margin: 5%;
}

.about_content .separator {
  width: 100%;
  height: 8px;
}
