.subheader {
  background-image: url("/images/placeholder.png");
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 40em;
  width: 100%;
  background-position: center;
}

.subheader h3 {
  margin: 15px;
  backdrop-filter: blur(5px);
}

.subheader p {
  text-align: center;
  margin-top: 20px;
  width: 80%;
  backdrop-filter: blur(5px);
}

.alternate {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0.75% 0px 0.75% 0px;
}

.alternate a {
  text-decoration: inherit;
  color: inherit;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.alternate * {
  transition: 0.4s;
}

.alternate .text, .alternate a .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 5% 0px 5% 0px;
  width: 50%;
}

.alternate a div, .alternate div {
  transform: scale(1);
}

.alternate a:hover div {
  transform: scale(1.05);
}

.alternate.light, .alternate.light a {
  flex-direction: row-reverse;
}

.back-img {
  width: 40%;
  height: 18em;
}

.back-img.thumb {
  border: solid;
}

.back-img img {
  width: 100%;
  height: 100%;
}

.back-img.thumb img {
  object-fit: cover;
  filter: blur(1.5px);
}

.back-img.clipart img {
  object-fit: contain;
}
