.subheader {
    background-image: url("/images/placeholder.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subheader h3 {
    margin: 15px;
}

.subheader p {
    text-align: center;
    margin-top: 20px;
    width: 80%;
}

.alternate {
    display: flex;
    height: 18em;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}

.alternate * {
    transition: 0.4s;
    justify-content: space-around;
}

.alternate .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 5% 0px 5% 0px;
    width: 50%;
}

.alternate img {
    object-fit: cover;
    height: 120px;
    margin: 5% 0px 5% 0px;
}

.alternate.light {
    flex-direction: row-reverse;
}

.alternate.partners {
    /* padding: 4% 0px 4% 0px; */
}

.alternate .back-img {
    height: 100%;
    width: 40%;
    background-position:center;
    background-image: url(/images/placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
}