* { 
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body > * {
    width: 100vw;
}

header {
    position: fixed;
    height: 13vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: 0.3s;
}

#header_logo {
    height: 100%;
    position: relative;
    cursor: pointer;
}

main {
    padding-top: 15vh;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .change {
    filter: blur(4px);
}

#header_menu {
    width: 10%;
    min-width: 45px;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.bar1, .bar2, .bar3 {
    width: 45px;
    height: 6px;
    margin: 5px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 17px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -17px) rotate(45deg);
}

#header_arrow {
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 45px;
    height: 100%;
    aspect-ratio: 93/50;
    opacity: 0;
    transition: 0.4s;
}

.bar_left, .bar_right {
    width: 45px;
    height: 6px;
}

.bar_left {
    rotate: -45deg;
    position: relative;
    left: 8px;
}

.bar_right {
    rotate: 45deg;
    position: relative;
    left: -9px;
}

nav {
    position: fixed;
    right: min(-25vw, -300px);
    width: 25vw;
    min-width: 300px;
    padding-top: 9vh;
    height: 91vh;
    transition: 0.4s;
    z-index: 1;
}

nav.change {
    right: 0px;
}

#menu {
    font-family: "Arvo";
    font-size: 2em;
    text-align: right;
    list-style-type: none;
    width: 75%;
    padding-top: 20%;
    padding-right: 15%;
    padding-left: 10%;
    height: 100%;
}

#menu .menu_element {
    margin-top: 30px;
}

#menu .menu_element p {
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

#menu .menu_element a {
    text-decoration: none;
}

#menu .menu_element a:hover {
    cursor: pointer;
}

footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
