<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ block "extend_head" . }}
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  {{ end }}
</head>
<body>
  <header>
  {{ partial "header.html" . }}
  </header>
  <nav>
  {{ partial "menu.html" . }}
  </nav>

  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
    {{ block "extend_footer" . }}{{ end }}
  </footer>
</body>
</html>
