{{ $url := .url }}
{{ $mainPicture := .mainPicture }}
{{ $isDark := .isDark }}
{{ $contentTitle := .contentTitle }}
{{ $contentDescription := .contentDescription }}
{{ $altText := .altText }}
<div id="{{ $url }}" class="{{ cond (eq ($isDark) 1) "alternate dark" "alternate light" }}">
  <div class="back-img">
  {{ with default (resources.Get "/images/placeholder.png") (resources.Get $mainPicture) }}
  <img src="{{ .RelPermalink }}" alt="{{ $altText }}"/>
  {{ end }}
  </div>
  <div class="text">
    <h3>{{ upper $contentTitle }}</h3>
    <p>{{ $contentDescription }}</p>  
  </div>
</div>
