{{ $url := .url }}
{{ $mainPicture := .mainPicture }}
{{ $isDark := .isDark }}
{{ $contentTitle := .contentTitle }}
{{ $contentDescription := .contentDescription }}
{{ $altText := .altText }}
<div class="{{ cond (eq ($isDark) 1) "alternate dark" "alternate light" }}">
  {{ if $url }}
  <a href="{{ $url }}">
  {{ end }}
    {{ with default (resources.Get "/images/placeholder.png") (resources.Get $mainPicture) }}
    {{ $isClipart := in (slice "png" "svg") .MediaType.SubType }}
    <div class="back-img {{ cond $isClipart "clipart" "thumb" }}">
      {{ partial "img" (dict "img" . "altText" $altText "classes" ""
      "fitX" 800 "fitY" 300 "fill" true) }}
    </div>
    {{ end }}
    <div class="text">
      <h3>{{ upper $contentTitle }}</h3>
      <p>{{ $contentDescription }}</p>  
    </div>
  {{ if $url }}
  </a>
  {{ end }}
</div>
