<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.Title }}</title>
<link rel="icon" type="image/x-icon" href="/images/logo.png">
{{ partial "head/css.html" "css/main.css" }}
{{ partial "head/css.html" "css/alternate.css" }}
{{ partial "head/css.html" "css/font.css" }}
{{ partial "head/css.html" "css/color.css" }}

{{ partial "head/js.html" "scripts/main.js" }}
{{ partial "head/js.html" "scripts/home.js" }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
