{{ $bgPicLink := (default (resources.Get "images/placeholder.png") (resources.Get .bgPicture)) }}
{{/* TODO: optimize the size of this picture */}}
<div class="about_content">
  {{ if .givenLink }}
  <a href="{{ .givenLink }}">
  {{ end }}
  {{ $title := default "" .givenTitle }}
  {{ with $bgPicLink }}
  <div class="about-content-container">
    {{ partial "img" (dict "img" . "altText" "placeholder_alt" "classes" ""
    "fitX" 1920 "fitY" 1080 "fill" false) }}
    <h3>
      {{ upper $title }}
    </h3>
  </div>
  {{ end }}
  {{ .givenContent }}
  {{ if .givenLink }}
  </a>
  {{ end }}
  <div class="separator"></div>
</div>
