{{ define "main" }}

{{ partial "picSubheader.html" (dict "givenTitle" .Title "givenContent"
.Content "bgPicture" "images/recompense_prix_mediation.jpeg") }}

{{/* Index the menu pages excepted the home page */}}
{{ $menuPages := site.Menus.main.ByWeight }}
{{ range seq (sub (len $menuPages) 1) }}
  {{ $page := index $menuPages . }}
  <div id="{{ $page.URL }}" class="{{ cond (eq (mod . 2) 1) "alternate dark" "alternate light" }}">
    <!-- <img src="/images/placeholder.png" alt="generic about us image"> -->
    <div class="back-img"></div>
    <div class="text">
      <h3>{{ upper $page.Name }}</h3>
      <p>{{ $page.Page.Description }}</p>  
    </div>
  </div>
{{ end }}

{{ end }}
