{{ define "extend_head" }}
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
{{ partial "head/css" "css/about.css" }}
{{ end }}
{{ define "main" }}
  {{ range .Pages.ByWeight }}
  {{ $cleanDescription := 0 }}
  {{ if .Params.description }}
  {{ $cleanDescription = (partial "rawMdToHTML" (dict "page" .Page "content" .Params.description)) }}
  {{ end }}
  {{ partial "pictureTitleParagraph.html" (dict
  "bgPicture" .Params.mainPicture
  "givenTitle" (default .Title .Params.externalTitle)
  "givenContent" (default .Summary $cleanDescription)
  "givenLink" .RelPermalink
  ) }}
  {{ end }}
  {{ .Content }}
{{ end }}
