{{ define "main" }}

{{ partial "picSubheader.html" (dict "givenTitle" .Title "givenContent"
.Content "bgPicture" (default "" .Params.mainPicture)) }}

{{/* Index the menu pages excepted the home page */}}
{{ $menuPages := site.Menus.main.ByWeight }}
{{ range seq (math.Max 0 (sub (len $menuPages) 1)) }}
  {{ $page := index $menuPages . }}
  {{ partial "alternateDiv.html" (dict
  "url" $page.URL
  "mainPicture" $page.Page.Params.mainPicture
  "isDark" (cond (eq (mod . 2) 1) 1 0)
  "contentTitle" $page.Name
  "contentDescription" $page.Page.Description
  "altText" (default "" $page.Page.Params.altText)
  ) }}
{{ end }}

{{ end }}
